@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using Sitecore.Mvc.Helpers
@using Sitecore.Mvc


@model Sitecore.XA.Foundation.Variants.Abstractions.Models.VariantsRenderingModel

@if (Model.DataSourceItem != null || Html.Sxa().IsEdit)
{
    <nav aria-label="Menu principale">
        <h1 class="sr-only">Menu principale</h1>
        <div class="navbar navbar-expand-md py-0 p-md-0">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="menu-top">
                    <!-- Elemento per REPLICARE il campo di ricerca e visualizzarlo solo nelle risoluzioni xs e sm -->
                    <form name="" action="" class="d-block d-md-none my-3" aria-hidden="true">
                        <label for="search" class="sr-only">Cerca nel sito:</label>
                        <div class="input-group input-group-lg">
                            <input type="text" id="search" name="search" class="form-control border-primary" placeholder="Cerca...">
                            <div class="input-group-append">
                                <button class="btn btn-default border-primary">
                                    <i class="fas fa-search"></i><span class="sr-only">Cerca</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav align-items-md-end py-md-1 mr-auto">
                        @{
                            Sitecore.Data.Fields.ReferenceField headerHomeItemField = Model.Item.Fields["Header Home Item"];

                            Sitecore.Data.Items.Item mainItem = headerHomeItemField?.TargetItem != null ? headerHomeItemField?.TargetItem : Model.Item;

                            @Html.Raw("MainItem : " + mainItem.DisplayName)
                        }
                        <li class="nav-item text-md-center" data-active="template-siti-home-alt">
                            <a class="nav-link active" href="template-siti-home-alt.html">@Html.Sitecore().Field("NavigationTitle", mainItem)</a>
                        </li>
                        @{
                            if (mainItem != null)
                            {
                                foreach (Sitecore.Data.Items.Item subItem in mainItem.Children)
                                {
                                    var z = Sitecore.Links.LinkManager.GetItemUrl(subItem);
                                    <li class="nav-item text-md-center" data-active="template-siti-pagina">
                                        <a class="nav-link" href="@z"><i class="fab fa-font-awesome-flag mr-2"></i>@Html.Sitecore().Field("NavigationTitle", subItem)</a>
                                    </li>
                                }
                            }
                        }




                    </ul>
                </div>
            </div>
        </div>
    </nav>
    @*<div class="component-content">
            @if (Model.DataSourceItem == null)
            {
            @Model.MessageIsEmpty
            }
            else
            {
            foreach (BaseVariantField variantField in Model.VariantFields)
            {
            @Html.RenderingVariants().RenderVariant(variantField, Model.Item, Model.RenderingWebEditingParams, Model)
            }
            }
        </div>*@
}