@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using Sitecore.Mvc.Helpers
@using Sitecore.Mvc


@model Sitecore.XA.Foundation.Variants.Abstractions.Models.VariantsRenderingModel

@*@if (Model.DataSourceItem != null || Html.Sxa().IsEdit)
{*@
    <section class="section section-grey">
        <div class="container-fluid py-3 py-md-4">
            <h2>@Html.Sitecore().Field("Title", Model.Item)</h2>
            <div class="bg-white p-3 mb-3 shadow">
                <ul class="nav nav-tabs-reverse flex-column flex-md-row flex-md-nowrap" role="tablist">
                    @if (Model.Item != null)
                    {
                        var counter = 1;
                        foreach (Sitecore.Data.Items.Item subItem in Model.Item.Children)
                        {
                            var activeclass = "";
                            if (counter == 1)
                            {
                                activeclass = "active";
                            }
                            <li class="nav-item text-md-center">
                                <a href="#tab-reverse-@counter" class="nav-link h-100 @activeclass" data-toggle="tab" aria-controls="tab-reverse-@counter" aria-expanded="true" role="tab">
                                    @Html.Sitecore().Field("Tab Name", subItem)
                                </a>
                            </li>
                            counter++;
                        }
                    }
                </ul>
                <div class="tab-content tab-content-reverse">
                    @if (Model.Item != null)
                    {
                        var counter = 1;
                        foreach (Sitecore.Data.Items.Item subItem in Model.Item.Children)
                        {
                            var showactiveclass = "";
                            if (counter == 1)
                            {
                                showactiveclass = "show active";
                            }
                            <div id="tab-reverse-@counter" class="tab-pane fade @showactiveclass" role="tabpanel">
                                <h3>@Html.Sitecore().Field("Title", subItem)</h3>
                                @Html.Sitecore().Field("Text", subItem)
                            </div>
                            counter++;
                        }
                    }

                </div>
            </div>
        </div>
    </section>
    @*<div class="component-content">
            @if (Model.DataSourceItem == null)
            {
            @Model.MessageIsEmpty
            }
            else
            {
            foreach (BaseVariantField variantField in Model.VariantFields)
            {
            @Html.RenderingVariants().RenderVariant(variantField, Model.Item, Model.RenderingWebEditingParams, Model)
            }
            }
        </div>*@
@*}*@