@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using Sitecore.Mvc.Helpers
@using Sitecore.Mvc


@model Sitecore.XA.Foundation.Variants.Abstractions.Models.VariantsRenderingModel

@if (Model.DataSourceItem != null || Html.Sxa().IsEdit)
{
<article class="card card-default card-image border-0 mt-5 shadow">
    @Html.Sitecore().Field("Image", Model.Item, new { @class = "card-img-top img-circle mt-n5" })
    <div class="card-body">
        <h3 class="card-title text-center">@Html.Sitecore().Field("Title", Model.Item)</h3>
        <p>@Html.Sitecore().Field("Intro", Model.Item)</p>
    </div>
    <div class="card-footer text-right">
        @Html.Sitecore().Field("Link", Model.Item)
    </div>
</article>
    @*<div class="component-content">
            @if (Model.DataSourceItem == null)
            {
            @Model.MessageIsEmpty
            }
            else
            {
            foreach (BaseVariantField variantField in Model.VariantFields)
            {
            @Html.RenderingVariants().RenderVariant(variantField, Model.Item, Model.RenderingWebEditingParams, Model)
            }
            }
        </div>*@
}